
body {
  background-color: lightgrey;
  }

h1 {
  color: lightgrey;
}

.jumbotron {
    background-image: url('../images/bull_or_bear.jpg');
    background-size: contain;
    /* background-size: 100% 100%; */
    text-align: center;
  }  