{% extends "base.html" %}
{% block title %} Test Site {% endblock %}

{% block content %}
<div class="wrapper">
    <div class="jumbotron">
        <h1 class="display-4"> Ethereum Plotly </h1>
      </div>        
        <!-- Site info -->
    <div class="container-fluid btn-dark">
        <div class="row">
          <div class="col-md-3">
            <h2>
                Market Data
            </h2>
          </div>
          <div class="col-md-9">
            <img src = "{{ href1 }}" height=600 />
          </div>
        </div>
      </div> 
        
    <div class="container-fluid btn-dark">
        <div class="row">
          <div class="col-md-3">
            <h2>
                Topic
            </h2>
          </div>
          <div class="col-md-9">
            <h2>
            We are interested in analyzing what factors are correlated with the prices of cryptocurrencies over time, and whether these factors can be used to predict the future prices of these currencies.
            </h2>
          </div>
        </div>
      </div> 

    <div class="container-fluid btn-dark">
        <div class="row">
          <div class="col-md-3">
            <h2>
                Reddit Data
            </h2>
          </div>
          <div class="col-md-9">
            <img src = "{{ href2 }}" height=600 />
          </div>
        </div>
      </div>   
    
    <div class="container-fluid btn-dark">
        <div class="row">
          <div class="col-md-3">
            <h2>
                Topic
            </h2>
          </div>
          <div class="col-md-9">
            <h2>
            We are interested in analyzing what factors are correlated with the prices of cryptocurrencies over time, and whether these factors can be used to predict the future prices of these currencies.
            </h2>
          </div>
        </div>
      </div> 
      
    <div class="container-fluid btn-dark">
        <div class="row">
          <div class="col-md-3">
            <h2>
                All Data 
            </h2>
          </div>
          <div class="col-md-9">
            <img src = "{{ href3 }}" height=600 />
          </div>
        </div>
      </div>   

    <div class="container-fluid btn-dark">
        <div class="row">
          <div class="col-md-3">
            <h2>
                Topic
            </h2>
          </div>
          <div class="col-md-9">
            <h2>
            We are interested in analyzing what factors are correlated with the prices of cryptocurrencies over time, and whether these factors can be used to predict the future prices of these currencies.
            </h2>
          </div>
        </div>
      </div>   

{% endblock %}